.index_header
{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
    height: 7%;
    align-items: center;
    border-radius: 10px;
    background-color: #6995f4;
    box-shadow: 2px 2px 2px 0px rgba(162,158,158,0.6);
}

.footer
{
  display: flex;
  justify-content: center;
}

.deco
{
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.index_tab
{
  color: black;
  font-size: 20px;
  text-decoration: none;
}

hr
{
  margin-left: 40%;
  margin-right: 40%;
}

ul
{
list-style-type: none;
}

.camagru
{
  margin-top: 5%;
  font-size: 150%;
  color: #6995f4;
  text-align: center;
}

.prg
{
  margin-top: 5%;
  font-size: 150%;
  color: #6995f4;
  text-align: center;
}

.connect
{
  margin-top: 3.5%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.formulaire1
{
  padding: 5%;
  border-style: outset;
}

.formulaire2
{
  padding: 5%;
  border-style: outset;
}

#wrapper
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrapper2
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mask
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#canvasvideo {
  position: absolute;
  top: 160px;
  width: 640px;
  height: 480px;
}

#gallery
{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  overflow: scroll;
}

.wrapper-picture-comment
{
  display: flex;
  flex-direction: column;
}

.wrapper-picture 
{
  display: flex; 
}

.wrapper-comment-miaou
{
  display: flex;

}

#textcom
{
  width: 200px;
  resize: none;
}

#takepic
{
  margin-top: 4%;
}

.comment
{
  width: 200px;
  font-color: blue;
}

#miaou_act
{
  background-color: blue;
}

#pagination
{
  display: flex;
  justify-content: space-around;

}


#capture
{
  margin-top: 1%;
}


